.markdown {
  margin-top: 3rem;

  & > * {
    margin-bottom: 1.5rem;
  }

  & > h1 {
    font-size: 24px;
    line-height: 93%;
    color: #685275;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    padding-top: 6rem; //this is done so the links in the table of contents take into account the fixed headers
    margin-top: -3rem;
    margin-bottom: 1.5rem;
  }

  & > h2 {
    font-size: 24px;
    line-height: 93%;
    color: #685275;
    text-transform: none;
    padding-top: 6rem; //this is done so the links in the table of contents take into account the fixed headers
    margin-top: -4rem;
    margin-bottom: 1.25rem;
  }
  & > h3 {
    font-size: 18px;
    line-height: 93%;
    color: #202020;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 1.25rem;
  }

  & > h4 {
    font-size: 16px;
    line-height: 93%;
    color: #202020;
    text-transform: none;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  & p,
  & li {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 160%;
    color: #202020;
    font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
    margin-bottom: 1rem;
  }

  & li {
    position: static;
  }

  & strong {
    font-weight: 700;
  }

  & blockquote p {
    color: #685275;
  }

  & img {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
  }
  

  figcaption {
    text-align: center;
    font-size: small;
  }

  ul > li {
    list-style: disc;
    padding-left: 0rem;
    margin-left: 1.5rem;
  }

  ol > li {
    list-style: numbers;
    padding-left: 0rem;
    margin-left: 1.5rem;
  }

  ol > li:first-child {
    margin-top: 0.75rem;
  }

  ol > li > ol > li {
    list-style: upper-alpha;
    padding-left: 0rem;
    margin-left: 3rem;
  }
  ol > ol > li {
    list-style: lower-alpha;
    padding-left: 0rem;
    margin-left: 3rem;
  }

  li:before {
    content: "";
  }

  label a[href^="#"] {
    display: none;
    visibility: hidden;
  }

  label p {
    margin-bottom: 0;
  }
  aside a[href^="#"] {
    display: none;
    visibility: hidden;
  }

  & aside {
    font-size: 12px;
    border-left: #685275 1px solid;
    padding-left: 1rem;
    display: inline-block;
  }
}

@media (min-width: 1280px) {
  .markdown {
    & aside {
      transform: translate(245%, -125%);
      position: absolute;
      width: 20%;
      border-left: #685275 1px solid;
      padding-left: 1rem;
    }

    & aside p {
      font-size: 0.75rem;
    }
  }
}
