.main {
  font-family: sans-serif;
  text-align: center;
  height: 300vh;
  background-color: #3b6fe0;
  color: #fff;
  padding-top: 320px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}

.magic {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
